body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1.5em;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    padding: 2em;
    max-width: 1200px; /* Maggiore larghezza per contenere la mappa */
    margin: auto;
}

.content {
    display: flex; /* Usato per affiancare tabella e mappa */
    flex-direction: row; /* Orientamento orizzontale */
}

.table-container {
    flex: 1; /* La tabella occupa tutto lo spazio disponibile a sinistra */
    margin-right: 20px; /* Margine destro per spazio tra tabella e mappa */
}

.map-container {
    width: 300px; /* Larghezza fissa per la mappa */
    height: 300px; /* Altezza fissa per la mappa */
}

/* Stile della barra di ricerca */
.search-bar {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 0.5em 1em;
    font-size: 1em;
    margin-left: 0.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Stile della tabella */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

th, td {
    padding: 10px; /* Padding per le celle */
    text-align: left; /* Allineamento del testo */
    border: 1px solid #ddd; /* Bordo delle celle */
}

th {
    background-color: #007bff; /* Colore di sfondo dell'intestazione */
    color: white; /* Colore del testo dell'intestazione */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Colore di sfondo delle righe pari */
}

