<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medici Pediatrici a Milano</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>    
<body>
    <header>
        <h1>Medici Pediatrici Attivi a Milano</h1>
        <p>Trova pediatri attivi nella tua zona e visualizza le loro informazioni.</p>
    </header>
    <div class="search-bar"> <!-- id search da cambiare --> 
        <input type="text" id="myInput" onkeyup="myFunction()" 
                placeholder="Cerca per Nome, Cognome o Indirizzo...">
    </div>
    <div class="container">
        <div class="table-container">        
            <table id="myTable">
                <thead>
                    <tr class="header">
                        <th>Codice</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Indirizzo</th>
                    </tr>
                </thead>
                {% for pediatra in pediatri %}
                <tr>
                    <td>{{ pediatra['Code_med'] }}</td>
                    <td>{{ pediatra['Name_med'] }}</td>
                    <td>{{ pediatra['Surname_med'] }}</td>
                    <td>{{ pediatra['Address'] }}</td>
                </tr>
                {% endfor %}           
            </table>
        </div>
    </div>
</body>
</html>
